In [1]:
%matplotlib inline
import csv
import pandas as pd
import numpy
import datetime

In [2]:
S20 = pd.read_csv('S20_CDR.csv')
S20.shape

(9948, 13)

In [3]:
S20.head()

,Time,Caller Name,Caller Number,Callee Name,Callee Number,DOD,DID,Call Duration (s),Talk Duration (s),Status,Source Trunk,Destination Trunk,Communication Type
0,2018-12-05 18:49:00,NaN,JiufenME0982704558,NaN,677000(from 33),NaN,NaN,7,6,ANSWERED,聽山560,3CX,Inbound
1,2018-12-05 18:10:59,NaN,JiufenME0955606770,聽山,990224966027,NaN,NaN,48,34,ANSWERED,聽山560,聽山560,Outbound
2,2018-12-05 17:53:31,NaN,Hamoana0908198520,NaN,677000(from 33),NaN,NaN,67,67,ANSWERED,星空帳篷532530,3CX,Inbound
3,2018-12-05 17:52:00,NaN,Hamoana0908198520,NaN,677000(from 33),NaN,NaN,2,1,ANSWERED,星空帳篷532530,3CX,Inbound
4,2018-12-05 17:46:45,NaN,JiufenME0932862803,NaN,6591,NaN,NaN,9,9,ANSWERED,聽山560,NaN,Inbound

In [4]:
S20_=S20.drop_duplicates(['Caller Number'],inplace=False)

In [5]:
S20_.shape

(3710, 13)